<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Nueva asignaci&oacute;n</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-7"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2" >
                       <button [disabled]="loading" type="button" class="btn btn-primary btn-block" (click)="btnAgregar_click($event)">Agregar documentos</button>
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin:21px 0px 15px 0px;" />
        <div class="row" >
            <div class="form-group">
                <div class="col-sm-12">
                    <ngx-datatable #table class='bootstrap no-detail-row' [columns]="columns" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" 
                    [limit]="limit" [rows]='rows' (page)="onPage($event)" (sort)="onSort($event)"  [externalPaging]="true" [count]="count"  
                    [externalSorting]="true" [loadingIndicator]="loading" 
                    [selected]="selected" [selectionType]="'single'" (activate)="onActivate($event)" (select)='onSelect($event)' [reorderable]="false">
                        <ngx-datatable-column prop="codigo_barra" name="Código" [sortable]="false"></ngx-datatable-column>
                        <ngx-datatable-column prop="destino" name="Destino" [sortable]="false"></ngx-datatable-column>
                        <ngx-datatable-column prop="direccion" name="Dirección" [sortable]="false"></ngx-datatable-column>
                        <ngx-datatable-column prop="destino_asignado" name="Destino Asignado" [sortable]="false"></ngx-datatable-column>
                        <ngx-datatable-column prop="nodo" name="Nodo" [sortable]="false"></ngx-datatable-column>
                        <ngx-datatable-column prop="courier" name="Courier" [sortable]="false"></ngx-datatable-column>
                        <ngx-datatable-column prop="sucursal" name="Sucursal" [sortable]="false"></ngx-datatable-column>
                        
                        <ngx-datatable-footer>
                            <ng-template 
                                ngx-datatable-footer-template
                                let-rowCount="rowCount"
                                let-pageSize="pageSize"
                                let-selectedCount="selectedCount"
                                let-curPage="curPage"
                                let-offset="offset"
                                let-isVisible="isVisible">
                                <div class="page-count">
                                    <span *ngIf="selectedMessage">
                                    {{selectedCount.toLocaleString()}} {{selectedMessage}} / 
                                    </span>
                                    <strong>{{rowCount.toLocaleString()}} Total</strong>
                
                                    <div class="ball-clip-rotate" style="height:20px;float:right;margin-top: 10px;"  [ngClass]="{hidden : loading !== true }">
                                            <div></div>
                                    </div>
                                </div>
                                <datatable-pager
                                    [pagerLeftArrowIcon]="'datatable-icon-left'"
                                    [pagerRightArrowIcon]="'datatable-icon-right'"
                                    [pagerPreviousIcon]="'datatable-icon-prev'"
                                    [pagerNextIcon]="'datatable-icon-skip'"
                                    [page]="curPage"
                                    [size]="pageSize"
                                    [count]="rowCount"
                                    [hidden]="!((rowCount / pageSize) > 1)"
                                    (change)="table.onFooterPage($event)">
                                </datatable-pager>
                            </ng-template>
                            </ngx-datatable-footer>
                    </ngx-datatable>   
                </div>
            </div>
        </div> 
        <div class="row" style="margin-top:15px;"> 
            <form [formGroup]="frmbusqueda" (submit)="submitAsignar(alertaSonido)"   class=" form-horizontal col-sm-12 ">
            
            <div class="col-sm-12">
                <div class="form-group"> 
                    <label class="col-sm-1 control-label" style="text-align:right;">Motivo</label>
                    <div class="col-sm-7">                            
                        <input class="form-control" rows="5" cols="1" formControlName="motivo" [formControl]="frmbusqueda.controls['motivo']" />
                        <span class="text-danger" *ngIf="frmbusqueda.controls['motivo'].hasError('required') && (frmbusqueda.controls['motivo'].dirty || frmbusqueda.controls['motivo'].touched)">Motivo es obligatorio</span>
                    </div>
                    <div class="col-sm-2 text-right">
                        <button [disabled]="loading || asignado==true" type="button" class="btn btn-primary btn-block" (click)="submitAsignar(alertaSonido)">Asignar</button>
                    </div>
                    <div class="col-sm-2 text-right">
                        <button [disabled]="loading" type="button" class="btn btn-primary btn-block" (click)="btnCerrar_click($event)">Salir</button>
                    </div>
                </div>
            </div>
        </form> 
        </div>        
    </div>  
</div> 
<audio controls id="alertaSonido" #alertaSonido style="display:none;"><source src="/assets/sound/SD_NAVIGATE_38.mp3" type="audio/mpeg"></audio>

    <div class="modal fade" bsModal #ppAgregarDocumentos="bs-modal"  role="dialog" aria-labelledby="ppAgregarDocumentos" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog" style="width: 1100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Documentos</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="ppAgregarDocumentos.hide()"  [disabled]="formLoading"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">            
                        <div class="col-sm-12">
                            <div class="form-horizontal col-sm-12">
                                <form [formGroup]="frmAgregar" (submit)="btnNuevo_click($event)"><!--frmAgregar_submit($event, frmAgregar.value, alertaSonido)-->
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Asignar a distrito</label>
                                        <div class="col-sm-8">
                                            <ng-select
                                                [items]="listdistritos" 
                                                formControlName="distrito" 
                                                [formControl]="frmAgregar.controls['distrito']" 
                                                [multiple]="false"
                                                [closeOnSelect]="true"
                                                bindLabel="distrito"
                                                bindValue="ubi_id_distrito"
                                                placeholder="Seleccionar"
                                            >
                                                <ng-template ng-option-tmp let-item="item" *ngIf="listagregarcodigos.length>0">
                                                    <div>{{item.distrito}}</div>
                                                </ng-template>
                                            </ng-select>
                                            <span class="text-danger" *ngIf="frmAgregar.controls['distrito'].hasError('required') && (frmAgregar.controls['distrito'].dirty || frmAgregar.controls['distrito'].touched)">Distrito es obligatorio</span>
                                        </div>                                        
                                    </div>
                                </form>
                                <form [formGroup]="frmCodigo" (submit)="codigoBarra_keyup(codigoBarra, $event, alertaSonido)">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">C&oacute;digo de barras</label>
                                        <div class="col-sm-8">
                                            <!--<div class="input-group input-group-sm">-->
                                                <input class="form-control input-sm" #codigoBarra type="text" formControlName="codigobarra" [formControl]="frmCodigo.controls['codigobarra']" 
                                                    (keyup)="codigoBarra_keyup(codigoBarra, $event, alertaSonido)"/>                                                
                                            <!--</div>-->
                                            <span class="text-danger" *ngIf="frmCodigo.controls['codigobarra'].hasError('required') && (frmCodigo.controls['codigobarra'].dirty || frmCodigo.controls['codigobarra'].touched)">Código de barra es obligatorio</span>
                                            
                                        </div>
                                    </div>
                                    <div class="row">            
                                        <div class="col-sm-12" *ngIf="listagregarcodigos.length > 0">
                                            <div style="max-height:168px;overflow-y:auto;">
                                            <table class="table table-condensed table-striped">
                                                <thead>
                                                <tr>
                                                    <th width="35%" class="text-center">Código de barra</th>
                                                    <th class="text-center">Destino</th>
                                                    <th class="text-center">Dirección</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let item of listagregarcodigos; let i = index">
                                                    <td>
                                                        <button [disabled]="loading2" class="btn btn-xs" (click)="eliminarCodigoLista(i)" type="button" style="margin-top:-2px;"><i class="fa fa-trash"></i></button>
                                                        <strong>{{ item?.codigo_barra }}</strong></td>
                                                    <td  nowrap>{{ item?.destino }}</td>
                                                    <td  nowrap>{{ item?.direccion }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="col-sm-offset-9 col-sm-3 text-right">
                                    <button [disabled]="listagregarcodigos.length==0 || loading" (click)="btnNuevo_click($event)" class="btn btn-primary" type="submit">Agregar</button><!--frmAgregar_submit($event, frmAgregar.value, alertaSonido)-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div *ngIf="loading2" class="col-sm-5 ball-clip-rotate pull-center" style="width:40px; height: 40px">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="modal fade " bsModal #modalAsignar="bs-modal"  role="dialog" aria-labelledby="modalAsignar" aria-hidden="true" (onHidden)="hiddenAsignar()" [config]="{backdrop: 'static'}">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Agregar Documentos</h4>
                    <button type="button" class="close pull-right" aria-label="Close" [disabled]="loading" (click)="modalAsignar.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-sm-12" >¿Está seguro de agregar los documento como No Clasificados?</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="ball-clip-rotate" style="height:20px;float:left;" [ngClass]="{hidden : loading !== true }">
                        <div></div>
                    </div>
                    <button [disabled]="loading"  (click)="frmAgregar_submit(alertaSonido)" class="btn btn-primary">SI</button><!--submitAsignar(alertaSonido)-->
                    <button [disabled]="loading"  (click)="modalAsignar.hide()" class="btn btn-primary">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" bsModal #alertDocumentos="bs-modal"  role="dialog" aria-labelledby="alertDocumentos" aria-hidden="true" (onHidden)="hiddenalertDocumentos()" [config]="{backdrop: 'static'}">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 text-center"><i class="icon icon-exclamation text-danger parpadea" style="font-size:6em;" title=""></i></div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-sm-12 text-center" style="font-size:1.5em;"><p id="alertDocumentos_msj" class="text-danger"></p></div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button   (click)="Aceptar_alertDocumentos()" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>