.panel-new{
	padding:5px;
	margin-bottom:5px;
}

.panel-new > .panel-heading{
	padding:5px 15px;
}

.panel-new > .panel-body{
	padding:5px ;
}

.panel-new > .panel-body  .form-group{
	margin-bottom:5px ;
}