<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<!--<div class="content-heading">
    Cargos generados
    <small></small>
</div>-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"></div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form  [formGroup]="valFormSearch" (submit)="submitFormSearch($event, valFormSearch.value)"   class=" form-horizontal col-sm-12 ">
                <div class="row">
                    <div class="col-sm-3">                    
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Desde</label>
                            <div class="col-sm-9">
                                <input class="form-control input-sm" type="date" formControlName="desde" [formControl]="valFormSearch.controls['desde']" />
                                <span class="text-danger" *ngIf="valFormSearch.controls['desde'].hasError('date') && (valFormSearch.controls['desde'].dirty || valFormSearch.controls['desde'].touched)">Enter a valid date</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">                    
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Hasta</label>
                            <div class="col-sm-9">
                                <input class="form-control input-sm" type="date" formControlName="hasta" [formControl]="valFormSearch.controls['hasta']" />
                                <span class="text-danger" *ngIf="valFormSearch.controls['hasta'].hasError('date') && (valFormSearch.controls['hasta'].dirty || valFormSearch.controls['hasta'].touched)">Enter a valid date</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Estado</label>
                            <div class="col-sm-9">                            
                                <select class="form-control input-sm" formControlName="estado" [formControl]="valFormSearch.controls['estado']">
                                    <option value="">SELECCIONAR</option>
                                    <!--<option *ngFor="let estado of estados" value="{{estado.est_id}}">{{estado.est_name}}</option>-->
                                    <option value="GENERANDO CARGO">GENERANDO CARGO</option>
                                    <option value="ERROR">ERROR</option>
                                    <option value="TERMINADO">TERMINADO</option>

                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-9">
                        <input [disabled]="formLoading" type="submit" class="btn btn-primary " style="float:right;" value="Buscar"/>
                    </div>
                </div>
            </form>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary" (click)="cargarCargos()"><i class="icon icon-list" ></i> Generar cargos</button>
            </div>
        </div>
        <ngx-datatable #table class='bootstrap no-detail-row' [columns]="columns" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]="limit" [rows]='rows' (page)="onPage($event)" (sort)="onSort($event)"  [externalPaging]="true" [count]="count"   [externalSorting]="true" [loadingIndicator]="formLoading" 
                (activate)="onActivate($event)" [reorderable]="false"

            >
            <ngx-datatable-column prop="car_id" name="Código"  [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column prop="usuario" name="Usuario"  [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column prop="car_nro_documentos" name="Número de Documentos"  [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column prop="car_fecha_creado"  [sortable]="true">
                <ng-template let-column="column" ngx-datatable-header-template>
                Fecha
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | date: 'dd/MM/yyyy HH:mm'}}
                </ng-template>
            </ngx-datatable-column>
            <!--<ngx-datatable-column prop="pro_fecha_fin_ord"  [sortable]="true">
                <ng-template let-column="column" ngx-datatable-header-template>
                Fecha Fin
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                 {{value | date: 'dd/MM/yyyy HH:mm'}}
                </ng-template>
            </ngx-datatable-column>-->

            <ngx-datatable-column prop="car_nombre" name="Nombre"  [sortable]="false"></ngx-datatable-column>


            <ngx-datatable-column prop="car_estado" name="Estado" [sortable]="false"></ngx-datatable-column>
       
           	<ngx-datatable-column name="" sortable="false" prop="arc_estado" >
				      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
				            <button [ngClass]="{hidden : row.car_estado !='TERMINADO' }" class="btn btn-xs btn-primary" (click)="descargar(row)" tooltip="Descargar" placement="top">
			              		<i class="icon icon-cloud-download"></i>
				            </button>
				      </ng-template> 
			</ngx-datatable-column>
          <ngx-datatable-footer>
          <ng-template 
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            let-isVisible="isVisible">
              <div class="page-count">
                <span *ngIf="selectedMessage">
                  {{selectedCount.toLocaleString()}} {{selectedMessage}} / 
                </span>
                <strong>{{rowCount.toLocaleString()}} Total</strong>

                <div class="ball-clip-rotate" style="height:20px;float:right;margin-top: 10px;"  [ngClass]="{hidden : formLoading !== true }">
                        <div></div>
                </div>
              </div>
              <datatable-pager
                  [pagerLeftArrowIcon]="'datatable-icon-left'"
                  [pagerRightArrowIcon]="'datatable-icon-right'"
                  [pagerPreviousIcon]="'datatable-icon-prev'"
                  [pagerNextIcon]="'datatable-icon-skip'"
                  [page]="curPage"
                  [size]="pageSize"
                  [count]="rowCount"
                  [hidden]="!((rowCount / pageSize) > 1)"
                  (change)="table.onFooterPage($event)">
              </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
        </ngx-datatable>    
    </div>
</div>



<div class="modal fade " bsModal #modelGenerarCargo="bs-modal"  [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="modelGenerarCargo" aria-hidden="true" (onHidden)="hiddenModal()">
	<div class="modal-dialog ">
		<div class="modal-content">

		    <div class="modal-header">
		        <h4 class="modal-title pull-left">Generación de cargos</h4>
		        <button [disabled]="formLoading"type="button" class="close pull-right" aria-label="Close" (click)="modelGenerarCargo.hide()">
		            <span aria-hidden="true">&times;</span>
		        </button>
		    </div>

		    <div class="modal-body">
		        <div class="row">            
		            <div class="col-sm-12">
		                <div class="form-horizontal"> 
		                    <div class="form-group">
		                        <label class="control-label" class="col-sm-2">Nombre</label>
		                        <div class="col-sm-10">
		                            <input class="form-control" type="text"  [(ngModel)]="nombre" #ctrl="ngModel"  placeholder="Nombre"  />
		                        </div>
		                    </div>
                            <div class="form-group">
                                <label class="control-label" class="col-sm-2">Tipo cargo</label>
                                <div class="col-sm-10">                         
                                    <select class="form-control input-sm" [(ngModel)]="cargo" >
                                        <option *ngFor="let cargo of cargos" value="{{cargo.tca_id}}">{{cargo.tca_nombre}}</option>
                                    </select>
                                </div>
                            </div>
		                    <div class="form-group">
		                        <div class="col-sm-12">
		                            <label for="file2" class="file-upload">
		                                <button class="btn btn-primary btn-block">Seleccionar Archivo</button>
		                                <input id="file2" type="file" ng2FileSelect [uploader]="uploader" />
		                            </label>
		                        </div>
		                    </div>
		                </div>
		            </div>

		            <div class="col-sm-12" style="margin-bottom: 40px">
		                <table class="table tablewrap">
		                    <thead>
		                    <tr>
		                        <th width="50%">Nombre</th>
		                        <th>Tamaño</th>
		                        <th>Progreso</th>
		                        <th>Estado</th>
		                        <th></th>
		                    </tr>
		                    </thead>
		                    <tbody>
		                    <tr *ngFor="let item of uploader.queue">
		                        <td><strong>{{ item?.file?.name }}</strong></td>
		                        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
		                        <td *ngIf="uploader.isHTML5">
		                            <div class="progress" style="margin-bottom: 0;">
		                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
		                            </div>
		                        </td>
		                        <td class="text-center">
		                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
		                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
		                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
		                        </td>
		                        <td nowrap>
		                            <button type="button" class="btn btn-success btn-xs"
		                                    (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
		                                <span class="glyphicon glyphicon-upload"></span> Subir
		                            </button>
		                            <button type="button" class="btn btn-danger btn-xs"
		                                    (click)="item.remove()">
		                                <span class="glyphicon glyphicon-trash"></span> Eliminar
		                            </button>
		                        </td>
		                    </tr>
		                    </tbody>
		                </table>
		      
		                <div>
		                    <div>
		                        
		                        <div class="progress">
		                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>